<!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div> -->
<mat-card class="mat-card">
    <mat-grid-list cols="12" rowHeight="100px">
        
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <span class="mat-h1">Listing All Post</span>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7" [rowspan]="1"></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button class="mr-5" mat-raised-button color="success" (click)="onDeleteSelectedRows()">
                Delete Selected Rows
            </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button color="success" (click)="addNew()">
                Add New
            </button>
        </mat-grid-tile>
            
    </mat-grid-list>
    <mat-card-content>
        <div class="table-responsive">
        <table mat-table [dataSource]="postDataSource" matSort >
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                     (change)="$event ? masterToggle($event) : null"
                     [checked]="selection.hasValue() && isAllSelected()"
                     [indeterminate]="selection.hasValue() && !isAllSelected()"
                    ></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="onCheckboxChange($event, row)"
                    [checked]="selection.isSelected(row)"
      ></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="content">
                <th mat-header-cell *matHeaderCellDef>Content</th>
                <td mat-cell *matCellDef="let element">{{element.content}}</td>
            </ng-container>
            <ng-container matColumnDef="orgNo">
                <th mat-header-cell *matHeaderCellDef>Organization No</th>
                <td mat-cell *matCellDef="let element">{{element.orgNo}}</td>
            </ng-container>
            <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef>Created Date</th>
                <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
            </ng-container>
            <ng-container matColumnDef="updatedDate">
                <th mat-header-cell *matHeaderCellDef>Updated Date</th>
                <td mat-cell *matCellDef="let element">{{element.updatedDate}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Active</th>
                <td mat-cell *matCellDef="let element">{{element.active}}</td>
            </ng-container>
            <ng-container matColumnDef="recommendedScore">
                <th mat-header-cell *matHeaderCellDef>Recommended Score</th>
                <td mat-cell *matCellDef="let element">{{element.recommendedScore}}</td>
            </ng-container> -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/post-edit', element.id]">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                    </a>
                    <a [routerLink]="['delete', element.id]">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
        </div>
        <mat-paginator 
        [pageSizeOptions]="pageSizeOptions" 
        [length]="totalElements" 
        [pageSize]="pageSize"
        (page)="changePage($event)"
        showFirstLastButtons>
    </mat-paginator>
    </mat-card-content>
</mat-card>