<mat-grid-list cols="12" rowHeight="100px">
        
  <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-h1">Post Detail</span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="9" [rowspan]="1"></mat-grid-tile>
  
  <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button color="success" (click)="goBack()">
          Back
      </button>
  </mat-grid-tile>
</mat-grid-list>


<mat-card class="mx-5">
  <div class="container">
    <div class="row">
<form [formGroup]="postForm" (ngSubmit)="onSave()">
  <div class="col-7 mt-2">
      <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput placeholder="Enter Title" name="title" [(ngModel)]="post.title">
          <mat-error app-error-message [control]="postForm.get('title')!" [fieldName]="'Title'"></mat-error>
      </mat-form-field>
  </div>
  <div class="col-7 mt-2">
      <mat-form-field appearance="fill" class="example-full-width">
          <label>Content</label>
          <textarea formControlName="content" matInput placeholder="Enter Content" name="content" [(ngModel)]="post.content"></textarea>
          <mat-error app-error-message [control]="postForm.get('content')!" [fieldName]="'Content'"></mat-error>
      </mat-form-field>
  </div>

  <div class="col-7 mt-2">
    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Organization No</mat-label>
        <input formControlName="orgNo" matInput placeholder="Enter Organization No" name="orgNo" [(ngModel)]="post.orgNo">
        <mat-error app-error-message [control]="postForm.get('orgNo')!" [fieldName]="'orgNo'"></mat-error>
    </mat-form-field>
  </div>

  <div class="col-7 mt-2">
     <mat-checkbox name="status" [(ngModel)]="post.status" [ngModelOptions]="{standalone: true}">Active</mat-checkbox>
     <!-- <mat-error *ngId="postForm.controls['status']?.touched && postForm.controls['status']?.hasError('required')">Active must be selected</mat-error> -->
  </div>

  <!-- <div class="form-group">
      <mat-form-field class="full-width">
          <label>Select Type</label>
          <mat-select placeholder="Select Type" name="type" [(ngModel)]="post.type">
              <mat-option value="100-500">100-500</mat-option>
              <mat-option value="300-500">300-500</mat-option>
              <mat-option value="200-400">200-400</mat-option>
              <mat-option value="400-600">400-600</mat-option>
          </mat-select>
      </mat-form-field>
  </div> -->
  <div class="col-7 mt-2" *ngIf="post.id">
      <mat-form-field class="example-full-width" appearance="fill">
          <input matInput readonly="true"
          [matDatepicker]="createdDatePicker" 
          name="createdDate" 
          [formControl]="createdDate"
          placeholder="Select Created Date" >
          <mat-datepicker-toggle matSuffix [for]="createdDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #createdDatePicker></mat-datepicker>
          <mat-error *ngIf="postForm.controls['createdDate']?.touched && postForm.controls['createdDate']?.invalid">Select created date</mat-error>
      </mat-form-field>
  </div>

  <div class="col-7 mt-2" *ngIf="post.id">
      <mat-form-field class="example-full-width" appearance="fill">
          <input matInput readonly="true"
          [matDatepicker]="updatedDatePicker" 
          name="updatedDate"
          [formControl]="updatedDate"
           placeholder="Select Updated Date" >
          <mat-datepicker-toggle matSuffix [for]="updatedDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #updatedDatePicker></mat-datepicker>
          <mat-error *ngIf="postForm.controls['updatedDate']?.touched && postForm.controls['updatedDate']?.invalid">Select Updated Date</mat-error>
      </mat-form-field>
  </div>

<div class="col-4 mt-2 offset-md-4 mb-4">
  <button mat-raised-button extended color="primary" [disabled]="!postForm.valid" class="example-full-width">
    <mat-icon>save</mat-icon>Save</button>
</div>

</form>
</div>
</div>
</mat-card>