<mat-nav-list>
    <a mat-list-item href="/dashboard">Dashboard</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="/postlist">Post</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="/userlist">User</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="/user-role">User Role</a>
</mat-nav-list>